@import url(./fonts.css);


    $primary : rgb(246, 34, 33);

@mixin circle_icon($size: 29px, $fsize: 12px, $bg: #272727, $color: #fff, $radius: 50%) {
    display: inline-block;
    width: $size;
    height: $size;
    background-color: $bg;
    font-size: $fsize;
    text-align: center;
    line-height: $size + 2px;
    color: $color;
    border-radius: $radius;
}

@mixin link($color: #fff, $hcolor: $primary) {
    color: $color;
    &:hover {
        color: $hcolor;
    }
}
@mixin texts($ff1: 'Museo Sans', $color: #fff, $fsize: 16px, $weight: 500, $lheight: 19px, $textalign: center ){
    font-family: $ff1;
    font-size: $fsize;
    font-weight: $weight;
    line-height: $lheight;
    text-align: $textalign;
    color: $color;
}
body {
    font-family: 'Museo Sans', sans-serif;
}
a {
    text-decoration: none;
}
.main-header{
    margin-bottom: 184px;
}
.top-header {
    padding: 5px 0;
    background-color: #080808;
    &__info {
        font-weight: 500;
        font-size: 14px;
        color: #7b7b7b;
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
    &__icon {
        @include circle_icon($color: rgba(255,255,255,0.7));
        margin-right: 10px;
    }
    &__link {
        @include link($color: #7b7b7b, $hcolor: #fff);
    }
    &__dot {
        display: inline-block;
        width: 5px;
        height: 5px;
        margin: 0 5px;
        background-color: $primary;
        opacity: 0.5;
        border-radius: 50%;
    }
}
.circle{
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: $primary;
    border-radius: 50%;
}
.social {
    &__link {
        @include circle_icon($fsize: 13px, $bg: rgba(246, 34, 33, 0.25));
        transition: all 0.3s ease;
        &:hover {
            background-color: rgba(246, 34, 33, 1);
            color: #fff;
        }
        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}
.intro {
    padding-top: 30px;
    padding-bottom: 344px;
    background-image: url(../img/bg1.jpg);
    &__content {
        max-width: 616px;
    }
    &__type {
    margin-bottom: 30px;
    }
    &__title {
        @include  texts($ff1: 'Museo Sans', $color:#fff, $fsize: 96px, $weight: 700, $lheight:70px, $textalign:left);
     margin-bottom: 34px;
    }
    &__text {
       @include texts( $color:#BABABD,  $weight: 300, $lheight: 25px, $textalign: left);
       margin-top: 25px;
       margin-bottom: 50px;
    }
}
.red-button{
    @include  texts($ff1: 'Museo Sans', $color: #fff, $fsize: 18px, $weight: 700, $lheight: 22px, $textalign: center );
    text-align: center;
    border: 1px solid red;
    border-radius: 55px;
    background-color: transparent;
    padding: 16px 40px;
    transition: all 0.5s ease-in-out ;
    margin-right: 33px;
    &:hover{ background-color: #F62221; 
    box-shadow: 0px 16px 24px rgba(246, 34, 33, 0.2), 0px 2px 6px rgba(246, 34, 33, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);;
     color: #fff;
}
}
.intro-type{
    text-align: right;
    margin-bottom: 30px;
}
.atelye{
    @include  texts($ff1: 'Museo Sans', $color:rgba(186, 186, 189, 1), $fsize: 16px, $weight: 300, $lheight: 2, $textalign: left );
  margin-right: 15px;
}
.studio{
    @include texts($ff1: 'Museo Sans', $color: #fff, $fsize: 18px, $weight: 700, $lheight: 25px, $textalign: center );
    background-color: #7B1312;
    border-radius: 0px 15px;
    padding: 8px 18px;
}
.menu{
    &__link{
    @include texts;
    transition: all 0.5s ease-in-out;
   &:not(:last-child){
       margin-right: 5px;
   }
  &:hover{
      color: $primary;
  }
    }
    &__button{
        background-color: transparent;
        border: none;
        color: #fff;
        font-weight: 700;
        margin-left: 50px;
        font-size: 16px;
    }
}
.second-dot{
    margin-left: 10px;
}
.menu-link-icon{
display: inline-block;
font-size: 10px;
font-weight: 400;
line-height: 16px;
text-align: center;
align-items: center;
margin-left: 7px;
}
.last-works {
    position: relative;
    padding: 81px 0 41px 0;
    &:after {
        content: '';
        position: absolute;
        width: 748px;
        height: 226px;
        background-image: url(../img/logo-3.svg);
        top: 30px;
        right: 30px;
    }
}
.title{
    @include texts ( $color: #080808, $fsize: 64px, $weight: 700, $lheight: 60px, $textalign: left );
    position: relative;
    margin-bottom: 50px;
    &::before {
        content: "";
        width: 100px;
        height: 5px;
        background: #F62221;
        border-radius: 55px;
        position: absolute;
        top: 100px;
    }
}
.red-shape{
width: 33px;
height: 10px;
display: inline-block;
vertical-align: middle;
transform: rotate(-90deg);
background: #F62221;
border-radius: 0px 15px;
margin-bottom: 47px;
position: absolute;
top:31px;
}
.box{
    position: relative;
    margin-bottom: 30px;
    &__img{
        width: 100%;
    }

    &:before{
        content:'';
        position: absolute;
        background: linear-gradient(180deg, rgba(8, 8, 8, 0) 0%, rgba(8, 8, 8, 0.8) 100%);
        border-radius: 0px 0px 7px 7px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: rotate(-180deg);
    }
}
.mercedes{
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 40px;
    left: 50px;
}

.price{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    bottom: 46px;
    right: 50px;
}
.currency{
    color: #F62221;
}
.all-jobs{
    text-align: right;
    color: #080808;
    font-size: 16px;
    font-weight: 500;
}
.ar-right{
    color: #F62221;
    margin-left: 6px;
    vertical-align: middle;
}
.photos{
    margin-top: 91px;
}

.car-appearance{
    margin-bottom: 80px;
}
.car-card{
    position: relative;
    &:before{
        content: "";
        position: absolute;
        background: linear-gradient(180deg, rgba(8, 8, 8, 0) 0%, rgba(8, 8, 8, 0.666667) 59.9%, #080808 100%);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: rotate(-180deg);
    }
      &__img{
          width: 100%;
}
      &__info{
         position: absolute;
         top: 38px;
         left: 50px;
}
      &__title{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
      &__text{
          color: #fff;
          font-size: 16px;
          max-width: 406px;
          font-weight: 300;
          line-height: 20px;
      }
}
.date{
    color: #7b7b7b;
    font-size: 12px;
    font-weight: 700;
    margin-left: 160px;
}
.second{
    top: 43px;
}
.work-title{
    color: #080808;
    font-size: 4.40rem;
    font-weight: 700;
    margin-bottom: 102px;
    position: relative;
    &::before {
        content: "";
        width: 100px;
        height: 5px;
        background: #F62221;
        border-radius: 55px;
        position: absolute;
        top: 100px;
    }
}
.grid-container{
    display: grid;
    gap: 15px;
    grid-template-columns: auto 83px;
    grid-template-rows: 76px 76px 76px 76px 76px;
    img{
        border-radius: 7px;
}
}

.big-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}
.grid-items:hover img{
    border: 5px solid #F62221;
    border-radius: 7px
}
.grid-item1{
    grid-area: 1/1/6/2;
}
.grid-item2{
    grid-area: 1/2/2/3;
}
.grid-item3{
    grid-area: 2/2/3/3;
}
.grid-text{
    &__title{
        color: #080808;
        font-size: 24px;
        font-weight: 700;
        margin-top: 20px;
    }
    &__list{
        color: #7B7B7B;
        font-size: 1rem;
        margin-bottom: 50px;
    }
}
::marker{
    color: #F62221;
}
.text-circle{
    margin-right: 5px;
}